{
  "presets": [
    [
      "@nrwl/react/babel",
      {
        "runtime": "automatic",
        "importSource": "@emotion/react"
      }
    ]
  ],
 "plugins": [
    [ "styled-components", { "ssr": true, "displayName": true, "preprocess": false } ],
    ["@emotion/babel-plugin"]
  ]
}

